@import url("../../styles/appStyles.pcss");

.singin-form__button {
  height: 3.5rem;
  display: block;
  width: 100%;
  margin-top: 140px;
  margin-bottom: 20px;
  font-family: inherit;
  border: 0px solid;
  border-radius: 10px;
  background-color: $buttonsColor;
  color: $buttonTextColor;
  font-size: 20px;
  disabled: true;
}

.singin-form__button:disabled {
  opacity: 0.3
 }
