@import url('../../styles/appStyles.pcss');

.message-area__input-area {
  display: flex;
  height: 80px;
  width: 550px;
}

.message-area-input-area__input-wrapper {
  display: flex;
  width: 420px;
}

.message-area-input-area__attach-wrapper {
  display: flex;
  width: 65px;
}

.message-area-input-area__button-wrapper {
  display: flex;
  width: 65px;
}
