@import '../../styles/appStyles.pcss';

.message-area__input-area {
  display: flex;
  height: 80px;
  width: 550px;
}

.message-area__input-area_input-wrapper {
  display: flex;
  width: 420px;
}

.message-area__input-area_attach-wrapper {
  display: flex;
  width: 65px;
}

.message-area__input-area_button-wrapper {
  display: flex;
  width: 65px;
}
