<div class="{{styles.myuser-area}}">
  <div class="{{styles.myuser-area__user-avatar}}">Ava</div>
  <input
    class="{{styles.myuser-area__search-input}}"
    id="search"
    name="search"
    placeholder="Поиск..."
  />
</div>