@import url("../../styles/appStyles.pcss");

.messege-area__not-selected-label{
  font-family: $globalFontFamily;
  font-size: 24px;
  color: $userCellMessegeColor;
  opacity: 0.4;
  margin-left: 2rem;
}