<div class="{{styles.message-area__conversation-area}}">
  {{!-- {{> myMessage text="
  Роджерс первым ввел в научный обиход понятие «клиент»,
  так как идентификация понимает гомеостаз в силу которого смешивает
  субъективное и объективное, переносит свои внутренние побуждения
  на реальные связи вещей." time="11:43"
  }}
  {{> userMessage text="
  Элемент <big> (от англ. big — большой) увеличивает размер шрифта на единицу по сравнению с
    обычным текстом. В HTML размер шрифта измеряется в условных единицах от 1 до 7, средний размер текста, используемый
    по умолчанию, принят 3. Таким образом, добавление <big> увеличивает текст на одну условную единицу." time="20:13"
      }} --}}

  {{#each messages}}
    {{{this}}}
  {{/each}}
</div>