.page {
  height: 100vh;
  display: flex;
}

.chat-area {
  height: 600px;
  width: 800px;
  margin: auto;
  border: 2px solid;
  border-radius: 10px;
  background: #e2cce9;
  display: flex;
}

.menu-area {
  border-radius: 10px 0px 0px 10px;
  height: 600px;
  width: 250px;
  background: #d9d9d9;
  display: inline-block;
  position: relative;
}

.menu-area:after {
  content: ' ';
  position: absolute;
  border-left: 2px black solid;
  top: 2.5%;
  right: 0;
  height: 95%;
  margin-top: auto;
  margin-bottom: auto;
}

.align-area {
  margin: 1rem;
}

.myuser-area {
  display: flex;
  justify-content: flex-end;
}

.myuser-area__user-avatar {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
  border: 0.2px solid #707070;
  background-color: wheat;
  text-align: center;
  font-size: 15px;
  display: table-cell;
  vertical-align: middle;
}

.myuser-area__search-input {
  height: 2rem;
  width: 70%;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: inherit;
  border: 0.2px solid #707070;
  border-radius: 3px;
  text-indent: 20px;
  font-size: 16px;
}

.myuser-area__search-input::placeholder {
  color: #212529;
  opacity: 0.4;
  text-indent: 20px;
}

.myuser-area__search-input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.users-area {
}

.users-area__user-cell{
  height: 4rem;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: inherit;
  border: 0.2px solid #707070;
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.users-area__user-cell.selected{
  background-color: #cafbe6;
}

.users-area__user-cell__avatar {
  height: 45px;
  width: 45px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: rgb(184, 182, 182);
  text-align: center;
  font-size: 15px;
}

.users-area__user-cell__data{
  font-family: 'Roboto', sans-serif;
  margin: 3px;
}

.users-area__user-cell__data__name-label{
  font-family: inherit;
  font-size: 14px;
}

.users-area__user-cell__data__messege-label{
  font-family: inherit;
  font-size: 10px;
  margin-top: 5px;
  color: #0f1113;
  opacity: 0.4;
}

.users-area__user-cell__info{
  margin-right: 10x;
  margin-left: 3px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  
}

.users-area__user-cell__info__time-label{
  font-family: inherit;
  font-size: 14px;
  color: #0f1113;
  opacity: 0.4;
}

.users-area__user-cell__info__count-label{
  height: 20px;
  width: 20px;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 3px;
  border-radius: 50%;
  background-color: #ccb8de;
  color :white;
}

.users-area__user-cell__info__count-label__text{
  text-align: center;
  padding-top: 2px;
  font-size: 14px;
}

.messege-area {
  height: 600px;
  width: 550px;
}


.messege-area__not-selected-label{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #0f1113;
  opacity: 0.4;
}

.messege-area__conversation-area {
  display: flex;
  height: 440px;
  width: 550px;
  position: relative;
  flex-direction: column-reverse;
}

.messege-area__conversation-area__my-message-wrapper {
 display: flex;
 justify-content: flex-end;
 width: 100%;
 height: max-content; 
}

.messege-area__conversation-area__my-message {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px; 
  border: 1px solid grey;
  background-color: #cafbe6;
  max-width: 450px;
  max-height: 600px;
  width: max-content; 
  height: max-content; 
  border-radius: 10px 10px 0px 10px;
}

.messege-area__conversation-area__user-message-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: max-content; 
 }

.messege-area__conversation-area__user-message {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px; 
  border: 1px solid grey;
  background-color: white;
  max-width: 450px;
  max-height: 600px;
  width: max-content; 
  height: max-content; 
  border-radius: 10px 10px 10px 0px;
}

.messege-area__conversation-area__user-time{
  font-family: 'Roboto', sans-serif;
  margin-top: 4px;
  font-size: 14px;
  color: #0f1113;
  opacity: 0.4;
  width: max-content; 
  float: right;
}

.messege-area__conversation-area__info{
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.messege-area__conversation-area__checked{
  float: right;
  margin-right: 3px;
}


.messege-area__conversation-area__my-time{
  font-family: 'Roboto', sans-serif;
  margin-top: 4px;
  margin-right: 3px;
  font-size: 14px;
  color: #0f1113;
  opacity: 0.4;
  width: max-content; 
  float: right;
}


.messege-area__conversation-area:after {
  content: ' ';
  position: absolute;
  border-bottom: 2px black solid;
  right: 5%;
  bottom: 0;
  width: 90%;
  margin-top: auto;
  margin-bottom: auto;
}

.messege-area__input-area {
  display: flex;
  height: 80px;
  width: 550px;
}

.messege-area__input-area_input-wrapper {
  display: flex;
  width: 420px;
}

.messege-area__input-area_button-wrapper {
  display: flex;
  width: 65px;
}
.messege-area__input-area_attach-wrapper {
  display: flex;
  width: 65px;
}

.messege-area__input-area_input {
  height: 2.5rem;
  width: 100%;
  margin: auto;
  font-family: inherit;
  border: 0.2px solid #707070;
  border-radius: 3px;
  text-indent: 20px;
  font-size: 16px;
}

.messege-area__input-area_attach_icon{
  height: 40px;
  width: 40px;
  margin: auto;
}

.messege-area__input-area_send_icon{
  height: 40px;
  width: 40px;
  margin: auto;
}

.messege-area__personal-area {
  display: flex;
  height: 80px;
  width: 550px;
  position: relative;
}


.messege-area__personal-area:after {
  content: ' ';
  position: absolute;
  border-bottom: 2px black solid;
  right: 5%;
  bottom: 0;
  width: 90%;
  margin-top: auto;
  margin-bottom: auto;
}
.messege-area__personal-area__avatar-wrapper{
  display: flex;
  margin-left: 1rem;
}

.messege-area__personal-area__avatar{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid grey;
  margin: auto;
  overflow: hidden;
}

.messege-area__personal-area__label-wrapper{
  display: flex;
  margin-left: 1rem;
}

.messege-area__personal-area__label{
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}


