@import url('../../styles/appStyles.pcss');

.user-cell__avatar {
  height: 45px;
  width: 45px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
  border: 1px solid grey;
  margin: 5px;
  overflow: hidden;
}
