---
enter: Войти
---

<html>
  <head>
    <link rel="stylesheet" href="../styles/regPage.pcss" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="page">
      <div class="register-area">
        <div class="align-area">
          <div class="label-area">
             {{> mainPageLabel label="Регистрация" }}
          </div>
          <div>
            <form class="singin-form">
              <input class="singin-form__input" id="mail" name="mail" placeholder="Почта"/>
              <input class="singin-form__input" id="login" name="login" placeholder="Имя пользователя"/>
              <input class="singin-form__input" id="name" name="name" placeholder="Имя"/>
              <input class="singin-form__input" id="lastname" name="lastname" placeholder="Фамилия"/>
              <input class="singin-form__input" id="password" name="password" placeholder="Пароль"/>
              <input class="singin-form__input" id="repeatepassword" name="repeatepassword" placeholder="Повторите пароль"/>
              <button class="singin-form__button">{{enter}}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
