---
enter: Сохранить
---

<html>
  <head>
    <link rel="stylesheet" href="../styles/userDataPage.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="page">
      <div class="change-data-area">
         <div class="personal-area">
            <div class="personal-area__avatar-wrapper">
              <img
                class="personal-area__avatar"
                src="../../static/foto.jpg"
                alt="ava"
              />
            </div>
            <div class="personal-area__label-wrapper">
              <p class="personal-area__label"><b>Александр</b></p>
            </div>
          </div>
         <div class="align-area">
          <div class="label-area">
             {{> mainPageLabel label="Данные пользователя" }}
          </div>
          <div>
            <div class="user-data">
              {{> userDataField key="Имя пользователя" value="AlexR" }}
              {{> userDataField key="Почта" value="alexraykov200@gmail.com" }}
              {{> userDataField key="Имя" value="Александр" }}
              {{> userDataField key="Фамилия" value="Райков" }}
              {{> userDataField key="Телефон" value="+7 (981) 978-70-40" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>