<div class="{{styles.message-area}}">
  {{{notSelectedLabel}}}
  {{{messageUserArea}}}
  {{{messageConvArea}}}




          <div class="messege-area__input-area">
            <div class="messege-area__input-area_attach-wrapper">
              <img
                class="messege-area__input-area_attach_icon"
                src="../../static/attach.svg"
                alt="attch"
              />
            </div>
            <div class="messege-area__input-area_input-wrapper">
              <input
                class="messege-area__input-area_input"
                id="send"
                name="send"
                placeholder="Сообщение"
              />
            </div>
            <div class="messege-area__input-area_button-wrapper">
              <img
                class="messege-area__input-area_attach_icon"
                src="../../static/send.svg"
                alt="send"
              />
            </div>
          </div>
</div>
