@import '../../styles/appStyles.pcss';

.messege-area {
  height: 600px;
  width: 550px;
}

.messege-area__not-selected-label {
  font-family: $globalFontFamily;
  font-size: 24px;
  color: $userCellMessegeColor;
  opacity: 0.4;
}
