<div class="users-area__user-cell selected">
  <div class="users-area__user-cell__avatar">
  </div>
  <div class="users-area__user-cell__data">
    <div class="users-area__user-cell__data__name-label"><b>{{ name }}</b></div>
    <div class="users-area__user-cell__data__messege-label">{{ messege }}</div>
  </div>
  <div class="users-area__user-cell__info">
    <div class="users-area__user-cell__info__time-label">{{ time }}</div>
    <div class="users-area__user-cell__info__count-label">
      <div class="users-area__user-cell__info__count-label__text">
         {{ messegeCount }}
      </div>
    </div>
  </div>
</div>
