@import url("../../styles/appStyles.pcss");

.page {
  height: 100vh;
  display: flex;
}

.register-area {
  height: 600px;
  width: 360px;
  margin: auto;
  border: 2px solid;
  border-radius: 10px;
  background: linear-gradient(to right, $mainGradientLeft, $mainGradientRight);
}

.align-area {
  margin: 2.5rem;
}



